---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Head.astro"
import Footer from "../components/Footer.astro"
import Player from "../sections/Player.astro"
import Bio from "../sections/Bio.astro"
import Multimedia from "../sections/Multimedia.astro"
import Dates from "../sections/Dates.astro"
---

<Layout title="Obliqua Music">
  <main class="mx-auto">
    <Header />
    <div class="flex flex-wrap items-center justify-center gap-1 md:gap-36">
      <Player />
      <Bio />
    </div>
    <Dates />
    <Multimedia />
    <section class="flex flex-col items-center gap-6 justify-center my-24">
      <h1 class="text-2xl">Contáctanos para más info</h1>
      <a class="btn bg-accentColor" href="mailto: obliquabanda@gmail.com"
        >Escríbenos</a
      >
      <a class="text-primary hover:underline hover:text-" href="https://drive.google.com/file/d/1nXaj1hzVW9sH-DavJ6-DnaWwvHFYgW6D/view?usp=drive_link"> 🔗 Rider técnico de la banda </a>
    </section>
    <Footer />
  </main>
</Layout>
