---
---

<section
  class="flex flex-col my-10 p-6 lg:w-2/6 lg:-mt-80 lg:align-middle lg:order-1 lg:p-0"
>
  <h1 class="text-4xl my-2">Somos Obliqua</h1>
  <p>
    Obliqua es una banda de metal alternativo, oriunda de la ciudad de Caracas,
    Venezuela. En el año 2015. Conformada por 4 miembros: Gerlyn Carrera (Voz),
    Daniel Alvarez (Guitarra), José Ávila (Batería), Carlos Villarroel (Bajo).
    En el ámbito artístico la agrupación musical contempla varios subgéneros
    derivados del Metal que se ensamblan en una propuesta de temas propios.
    Adicionalmente se pasean también por las baladas, el funk, música latina, el
    blues y el hip hop sin descuidar sus orígenes provenientes del Rock. Esto
    hace que la música de la banda tenga identidad propia y genera la creación
    de un sonido propio y único...
  </p>
</section>
