---
---

<section class="dates-container bg-cover bg-no-repeat p-12 text-center">
  <h1 class="text-4xl my-8">Próximas Fechas</h1>
  <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"
  ></script>

  <div class="max-w-[1200px] m-auto">
    <a
      class="bit-widget-initializer"
      data-artist-name="obliqua"
      data-display-local-dates="true"
      data-display-past-dates="true"
      data-auto-style="false"
      data-text-color="#FFFFFF"
      data-link-color="#657ED4"
      data-background-color="rgba(0,0,0,0)"
      data-display-limit="5"
      data-link-text-color="#FFFFFF"
      data-display-lineup=""
      data-display-play-my-city="true"
      data-separator-color="rgba(124,124,124,0.25)"
      data-display-start-time="true"></a>
  </div>
</section>

<style>
  .dates-container {
    background-image: url("../assets/BG-dates.png");
  }
  .bit-widget-container {
    max-width: 900px;
    margin: 0 auto;
  }
</style>
