---
---

<section class="flex flex-col items-center my-10">
  <h1 class="text-4xl my-8">Videos</h1>
  <div class="w-full md:max-w-[1200px] lg:max-w-[900px] xl:max-w-[1200px]">
    <iframe
      src="https://www.youtube.com/embed/9qeLSLPB3W0"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
      class="w-full h-[250px] md:h-[40vh] lg:h-[80vh] xl:h-[60vh] p-8"></iframe>
  </div>
  <div class="flex flex-col items-center gap-4 mt-10">
    <p class="p-5 text-center">
      Puedes ver más de nosotros y nuestros stremings en
    </p>
    <a href="https://www.youtube.com/@obliquabanda5369">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="121"
        height="27"
        viewBox="0 0 121 27"
        fill="none"
      >
        <path
          d="M37.9682 4.18344C37.5272 2.5359 36.2324 1.24117 34.5849 0.800145C31.6018 2.39513e-07 19.6341 0 19.6341 0C19.6341 0 7.66665 2.39513e-07 4.68343 0.800145C3.0359 1.24117 1.74117 2.5359 1.30015 4.18344C0.5 7.16665 0.5 13.3946 0.5 13.3946C0.5 13.3946 0.5 19.6225 1.30015 22.6057C1.74117 24.2532 3.0359 25.548 4.68343 25.9889C7.66665 26.7891 19.6341 26.7891 19.6341 26.7891C19.6341 26.7891 31.6018 26.7891 34.5849 25.9889C36.2324 25.548 37.5272 24.2532 37.9682 22.6057C38.7684 19.6225 38.7684 13.3946 38.7684 13.3946C38.7684 13.3946 38.7652 7.16665 37.9682 4.18344Z"
          fill="#FF0000"></path>
        <path
          d="M15.8032 19.1311L25.7452 13.3915L15.8032 7.65186V19.1311Z"
          fill="white"></path>
        <path
          d="M46.8479 17.4221L42.551 1.9043H46.2998L47.8056 8.93863C48.1899 10.6712 48.4702 12.1487 48.6529 13.3709H48.7632C48.8892 12.4952 49.1728 11.0272 49.6106 8.96384L51.1699 1.9043H54.9186L50.5682 17.4221V24.8659H46.8448V17.4221H46.8479Z"
          fill="white"></path>
        <path
          d="M56.047 24.3746C55.2911 23.8642 54.7523 23.0703 54.431 21.993C54.1129 20.9157 53.9523 19.4855 53.9523 17.6962V15.261C53.9523 13.456 54.135 12.0038 54.5004 10.9107C54.8658 9.81759 55.436 9.01744 56.2109 8.51657C56.9859 8.01569 58.0033 7.76367 59.2635 7.76367C60.5046 7.76367 61.4969 8.01884 62.2466 8.52917C62.9932 9.03949 63.5413 9.83964 63.8878 10.9233C64.2343 12.0101 64.4077 13.456 64.4077 15.261V17.6962C64.4077 19.4855 64.2375 20.922 63.9005 22.0056C63.5634 23.0924 63.0153 23.8863 62.2592 24.3871C61.5032 24.8881 60.4762 25.1401 59.1815 25.1401C57.8458 25.1431 56.8032 24.8849 56.047 24.3746ZM60.2872 21.7473C60.4951 21.1992 60.6023 20.3077 60.6023 19.0666V13.8404C60.6023 12.637 60.4983 11.7549 60.2872 11.2005C60.0761 10.6429 59.7076 10.3657 59.1783 10.3657C58.6681 10.3657 58.3058 10.6429 58.0979 11.2005C57.8868 11.7581 57.7828 12.637 57.7828 13.8404V19.0666C57.7828 20.3077 57.8836 21.2023 58.0853 21.7473C58.2869 22.2955 58.6491 22.5695 59.1783 22.5695C59.7076 22.5695 60.0761 22.2955 60.2872 21.7473Z"
          fill="white"></path>
        <path
          d="M76.6016 24.8631H73.6468L73.3191 22.8091H73.2373C72.4339 24.359 71.2305 25.1339 69.624 25.1339C68.512 25.1339 67.6898 24.7685 67.1606 24.0409C66.6314 23.31 66.3667 22.1697 66.3667 20.6198V8.08518H70.1438V20.3992C70.1438 21.149 70.2257 21.6813 70.3895 21.9996C70.5533 22.3177 70.8274 22.4783 71.2116 22.4783C71.5393 22.4783 71.8543 22.3776 72.1568 22.176C72.4592 21.9743 72.6797 21.7191 72.8277 21.4105V8.08203H76.6016V24.8631Z"
          fill="white"></path>
        <path
          d="M86.8611 4.94107H83.1123V24.8659H79.4172V4.94107H75.6685V1.9043H86.8611V4.94107Z"
          fill="white"></path>
        <path
          d="M95.9719 24.8631H93.017L92.6894 22.8091H92.6075C91.8043 24.359 90.6009 25.1339 88.9942 25.1339C87.8822 25.1339 87.0601 24.7685 86.5308 24.0409C86.0016 23.31 85.7369 22.1697 85.7369 20.6198V8.08518H89.5141V20.3992C89.5141 21.149 89.5959 21.6813 89.7597 21.9996C89.9235 22.3177 90.1976 22.4783 90.582 22.4783C90.9095 22.4783 91.2246 22.3776 91.527 22.176C91.8295 21.9743 92.0499 21.7191 92.1979 21.4105V8.08203H95.9719V24.8631Z"
          fill="white"></path>
        <path
          d="M108.473 10.7654C108.243 9.70698 107.874 8.94148 107.364 8.4658C106.854 7.99014 106.151 7.75387 105.257 7.75387C104.564 7.75387 103.915 7.94918 103.313 8.34295C102.711 8.73672 102.245 9.2502 101.917 9.88968H101.889V1.05029H98.2506V24.8593H101.369L101.754 23.2717H101.836C102.128 23.8386 102.566 24.2828 103.149 24.6137C103.732 24.9413 104.381 25.1051 105.093 25.1051C106.369 25.1051 107.311 24.516 107.912 23.3409C108.514 22.1627 108.816 20.3262 108.816 17.825V15.1694C108.816 13.295 108.7 11.8239 108.473 10.7654ZM105.011 17.6107C105.011 18.833 104.96 19.7907 104.86 20.4837C104.759 21.1767 104.592 21.6714 104.352 21.9611C104.116 22.2541 103.795 22.399 103.395 22.399C103.083 22.399 102.796 22.3265 102.532 22.1785C102.267 22.0336 102.053 21.8131 101.889 21.5233V12.0003C102.015 11.5435 102.236 11.1718 102.547 10.8788C102.856 10.5859 103.196 10.441 103.559 10.441C103.943 10.441 104.239 10.5922 104.447 10.8914C104.658 11.1939 104.803 11.6979 104.885 12.4098C104.967 13.1218 105.008 14.133 105.008 15.4466V17.6107H105.011Z"
          fill="white"></path>
        <path
          d="M114.174 18.5782C114.174 19.6555 114.206 20.462 114.269 21.0008C114.332 21.5394 114.464 21.9301 114.666 22.1789C114.868 22.4246 115.176 22.5474 115.595 22.5474C116.159 22.5474 116.55 22.327 116.758 21.8891C116.969 21.4512 117.082 20.7204 117.101 19.6997L120.358 19.8918C120.377 20.0368 120.387 20.2383 120.387 20.4935C120.387 22.0434 119.961 23.2027 119.114 23.9682C118.267 24.7337 117.066 25.118 115.516 25.118C113.655 25.118 112.351 24.5352 111.604 23.3665C110.854 22.1978 110.483 20.3928 110.483 17.9481V15.0185C110.483 12.5015 110.87 10.6618 111.645 9.50258C112.42 8.34331 113.746 7.76367 115.627 7.76367C116.921 7.76367 117.917 7.99994 118.61 8.47562C119.303 8.95129 119.791 9.68843 120.075 10.6933C120.358 11.6982 120.5 13.0843 120.5 14.8547V17.7277H114.174V18.5782ZM114.653 10.6713C114.461 10.9075 114.335 11.295 114.269 11.8337C114.206 12.3724 114.174 13.1883 114.174 14.2846V15.488H116.937V14.2846C116.937 13.2072 116.899 12.3913 116.827 11.8337C116.755 11.2761 116.622 10.8855 116.43 10.6555C116.238 10.4287 115.942 10.3122 115.542 10.3122C115.138 10.3153 114.842 10.435 114.653 10.6713Z"
          fill="white"></path>
      </svg>
    </a>
  </div>
</section>
