---
---

<div
  id="player"
  class="relative flex justify-center items-center -mt-96 w-full md:min-w-min-w-[60%] lg:w-auto xl:min-w-min-w-[60%] lg:order-2"
>
  <iframe
    style="border-radius:12px"
    src="https://open.spotify.com/embed/artist/2UMqJraVXnO6aFsTh9X3Vu?utm_source=generator&theme=0"
    height="352"
    frameBorder="0"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"
    class="z-10 min-w-[372px] max-w-[475px] md:w-[90%] md:max-w-[unset] xl:w-[100%] ></iframe> <div class="
    absolute
    -inset-0.5
    bg-gradient-to-r
    from-pink-600
    to-purple-600
    rounded-lg
    blur
    opacity-75
    group-hover:opacity-100
    transition
    duration-1000
    group-hover:duration-200
    animate-tilt
    z-0
    min-w-[374px]
    max-w-[475px]
    left-1
    2
    transform
    -translate-x-1
    2
    md:min-w-[max-content]
    md:w-[90%]
    md:max-w-[unset]"
  >
    </div> </div>
  </iframe>
</div>
