---
import "@fontsource/arbutus-slab"
import Icon from "../assets/favicon.svg"

interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Obliqua es una banda de metal alternativo, oriunda de la ciudad de Caracas. Venezuela."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={Icon.src} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Raleway:wght@100;400&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- social -->
    <meta
      name="keywords"
      content="Rock, Band, Metal, Music, Chile, Venezuela"
    />
    <meta name="author" content="Jose Avila" />
    <link rel="canonical" href="https://obliqua.band/" />
    <meta name="robots" content="index, follow" />

    <!--  Essential Social Meta Tags -->
    <meta property="og:title" content="Obliqua Banda" />
    <meta
      property="og:description"
      content="Obliqua es una banda de metal alternativo, oriunda de la ciudad de Caracas. Venezuela."
    />
    <meta
      property="og:image"
      content="https://obliqua.band/_astro/logo.0c2f5a8f.svg"
    />
    <meta property="og:url" content="https://obliqua.band/" />
    <meta
      property="twitter:card"
      content="https://obliqua.band/_astro/logo.0c2f5a8f.svg"
    />
    <meta property="og:site_name" content="Obliqua Banda" />
    <meta property="twitter:image:alt" content="Obliqua Banda" />

    <!-- analytics -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BB1XM9Q7LN"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag("js", new Date())

      gtag("config", "G-BB1XM9Q7LN")
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-family: "Raleway", sans-serif;
    background: #1e1e1e;
    color: white;
  }
  h1,
  h2,
  h3 {
    font-family: "Arbutus Slab", serif;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
  .btn {
    @apply py-2 px-4 rounded-md;
    background-color: accent-color;
    color: white;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
  }
  .btn:hover {
    background-color: blueviolet;
  }

  #eapps-instagram-feed-1 > a[rel="noreferrer"] {
    display: none !important;
  }
</style>
